<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# My Assignment Submission

This is my Final Assignment Submission

The List of Data Science Languages are :  
* Python
* R
* MySQL

The List of Data Science Libraries are :  
* TensorFlow
* PyTorch
* Pandas

| Serial No. | Data Science Tools |
|------------|--------------------|
| 1 | Jupyter Lab |
| 2 | Apache Spark |
| 3 | Tableau |

Some Arithmetic Expression Examples  
Addition : 1 + 1 = 2  
Subtraction : 2 - 1 = 1  
Division : 4/2 = 2  
Multiplication : 2*2 = 4

In [17]:
# Multiplication and Addition
(4*5)+20

40

In [18]:
# Minutes to Hours
minutes = 50
minutes_to_hours = minutes/60
minutes_to_hours

0.8333333333333334

Objectives:  
* To Sort and Analyze Data  
* To reach conclusions to optimise processes  
* Interactive Visualization of Data

**Author**    
Tanya M